@import "tailwindcss";

@theme {
  --color-primary: #107c41;
  --font-sans: var(--font-cairo), ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    background-color: #f9fafb;
    color: #111827;
  }
}
